In [1]:
import pandas as pd 
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [2]:
students = pd.read_csv("students.csv")
password = 'password'
db_name = 'students'

In [3]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [4]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [5]:
students.to_sql(name="students", con=connection, if_exists='replace', index=False)

30

In [6]:
query1 = "SELECT * FROM students"
result_df = pd.read_sql(query1, con=connection)

In [7]:
result_df

,student_id,name,gpa,major,year,gender,birthday,email,course_id
0,0,Ethan Patel,3.2,Psychology,3,male,12/05/2003,ethan.patel@college.edu,1
1,1,Mia Johnson,2.8,Computer Science,3,female,02/14/2002,mia.johnson@college.edu,2
2,2,Noah Thompson,2.9,Business Administration,1,male,06/28/2005,noah.thompson@college.edu,3
3,3,Ava Davis,3.7,Nursing,4,female,03/10/2001,ava.davis@college.edu,3
4,4,Oliver Smith,2.5,Biology,2,nonbinary,07/19/2004,oliver.smith@college.edu,3
5,5,Sophia Rodriguez,3.9,Communication Studies,5,female,09/22/2000,sophia.rodriguez@college.edu,1
6,6,Lucas Taylor,3.1,English Literature,3,male,10/08/2003,lucas.taylor@college.edu,7
7,7,Isabella Wilson,4.0,Mechanical Engineering,3,female,05/11/2002,isabella.wilson@college.edu,6
8,8,Liam Nguyen,2.1,Marketing,1,male,11/13/2005,liam.nguyen@college.edu,6
9,9,Olivia Campbell,3.8,Economics,1,female,01/16/2004,olivia.campbell@college.edu,5
10,10,Benjamin Martin,2.3,Psychology,4,male,08/09/2001,benjamin.martin@college.edu,5
11,11,Emma Wright,3.8,Sociology,3,female,04/25/2003,emma.wright@college.edu,2
12,12,Gabriel Robinson,3.1,Graphic Design,1,female,07/02/2005,gabriel.robinson@college.edu,1
13,13,Amelia Anderson,3.9,Education,2,female,12/31/2004,amelia.anderson@college.edu,4
14,14,Logan Lee,3.8,Environmental Science,2,male,06/04/2002,logan.lee@college.edu,7
15,15,Charlotte Adams,2.6,History,4,female,09/17/2001,charlotte.adams@college.edu,3
16,16,Elijah Lewis,3.5,Chemistry,1,male,11/20/2004,elijah.lewis@college.edu,2
17,17,Harper Garcia,2.4,Finance,5,female,02/23/2000,harper.garcia@college.edu,1
18,18,Henry Williams,3.3,Mathematics,2,male,10/27/2002,henry.williams@college.edu,5
19,19,Riley Wright,2.7,Computer Science,1,nonbinary,03/08/2005,riley.wright@college.edu,6
20,20,Alexander Davis,2.6,Art History,5,female,05/21/2001,alexander.davis@college.edu,3
21,21,Harper Robinson,3.1,Psychology,2,male,07/16/2003,harper.robinson@college.edu,2
22,22,Lily Mitchell,2.2,Music Performance,4,female,09/29/2000,lily.mitchell@college.edu,1
23,23,Samuel Hernandez,2.7,Journalism,1,male,12/09/2004,samuel.hernandez@college.edu,1
24,24,Emily Scott,2.9,Physics,4,female,04/12/2001,emily.scott@college.edu,0
25,25,Gabriel Stewart,3.2,Architecture,1,male,08/30/2005,gabriel.stewart@college.edu,0
26,26,Mia Ramirez,3.7,Film Studies,3,female,02/03/2002,mia.ramirez@college.edu,3
27,27,Caleb Phillips,3.6,Business Administration,2,male,11/25/2003,caleb.phillips@college.edu,4
28,28,Grace Carter,2.4,International Relations,4,female,01/07/2000,grace.carter@college.edu,2
29,29,Elijah Bennett,3.9,Psychology,1,male,06/13/2004,elijah.bennett@college.edu,7

In [8]:
courses = pd.read_csv("courses.csv")
courses

,course_id,course_name,description,instructor,syllabi,grade_avg,day,time,credit_hrs,enrollment
0,0,"""Introduction to Data Science and Analytics""",This course provides an overview of data scien...,Patricia Clark,True,B,M W F,11:00 AM,4,20
1,1,"""Exploring Contemporary Art Movements""",This course explores various art movements of ...,John Adams,True,A,T TH,1:00 PM,3,18
2,2,"""Introduction to Microeconomics: Principles an...",This course introduces the principles of micro...,Cynthia Turner,False,C,T W TH,1:00 PM,4,25
3,3,"""Introduction to Psychology: Understanding the...","Understanding the Human Mind"": This course off...",James Wright,True,B,M,2:00 PM,2,29
4,4,"""Introduction to Political Science: Systems, I...",This course explores the foundational concepts...,Nancy Roberts,True,B,W,10:00 AM,1,12
5,5,"""Fundamentals of Biochemistry and Molecular Bi...",This course covers the fundamental principles ...,Robert Phillips,True,C,M T TH F,9:00 AM,5,31
6,6,"""Introduction to Environmental Studies: Sustai...",This course introduces key concepts in environ...,Pamela Cooper,False,B,M TH F,2:00 PM,4,22
7,7,"""Introduction to Digital Marketing: Strategies...",This course provides an overview of digital ma...,Mark Bennett,True,A,M W,3:00 PM,3,14

In [9]:
grades = pd.read_csv("grades.csv")
grades

     grade_id  student_id  assignment_id  grade  course_id
0           0           0              4     85          1
1           1           0              5     70          1
2           2           0              6     90          1
3           3           1              7     70          2
4           4           1              8     80          2
..        ...         ...            ...    ...        ...
102       102          28              9     79          2
103       103          28             10     82          2
104       104          29             26     80          7
105       105          29             27    100          7
106       106          29             28     85          7

[107 rows x 5 columns]

In [10]:
grades.to_sql(name="grades", con=connection, if_exists='replace', index=False)

107

In [11]:
courses.to_sql(name="courses", con=connection, if_exists='replace', index=False)

8

In [12]:
assignments = pd.read_csv("assignments.csv")
assignments

    assignment_id  course_id assignment_name  due_date  weight
0               0          0       project 1   2/15/23    0.15
1               1          0    Midterm Exam   3/12/23    0.30
2               2          0       Project 2   4/15/23    0.15
3               3          0      Final Exam   5/15/23    0.40
4               4          1  Research Paper    4/9/23    0.40
5               5          1    Midterm Exam   2/25/23    0.25
6               6          1      Final Exam   5/17/23    0.35
7               7          2          Exam 1    3/3/23    0.25
8               8          2     Problem Set   2/24/23    0.15
9               9          2          Exam 2   4/13/23    0.20
10             10          2      Final Exam   5/12/23    0.40
11             11          3   Participation   5/12/23    0.20
12             12          3            Exam   3/22/23    0.30
13             13          3     Final Paper   5/11/23    0.50
14             14          4    Midterm Exam   3/12/23    0.30
15             15          4      Final Exam   5/12/23    0.70
16             16          5          lab 1    2/12/23    0.10
17             17          5          Exam 1  03/05/23    0.10
18             18          5           lab 2   3/15/23    0.10
19             19          5          Exam 2   3/20/23    0.15
20             20          5           lab 3    4/1/23    0.10
21             21          5          Exam 3   4/28/23    0.15
22             22          5     Final Exam    5/15/23    0.30
23             23          6             Lab    2/9/23    0.30
24             24          6    Midterm Exam   4/14/23    0.30
25             25          6      Final Exam    5/9/23    0.40
26             26          7     Deliverable    3/2/23    0.20
27             27          7       Project 1    4/6/23    0.30
28             28          7   Final Project   5/10/23    0.50

In [13]:
assignments.to_sql(name="assignments", con=connection, if_exists='replace', index=False)

29

In [14]:
students.to_sql(name="students", con=connection, if_exists='replace', index=False)

30

In [16]:
cor_stud = pd.read_sql("SELECT DISTINCT * FROM courses JOIN assignments ON assignments.course_id=courses.course_id JOIN grades ON assignments.assignment_id=grades.assignment_id JOIN students on students.student_id=grades.student_id", con=connection)
cor_stud

,course_id,course_name,description,instructor,syllabi,grade_avg,day,time,credit_hrs,enrollment,...,course_id,student_id,name,gpa,major,year,gender,birthday,email,course_id
0,1,"""Exploring Contemporary Art Movements""",This course explores various art movements of ...,John Adams,1,A,T TH,1:00 PM,3,18,...,1,0,Ethan Patel,3.2,Psychology,3,male,12/05/2003,ethan.patel@college.edu,1
1,1,"""Exploring Contemporary Art Movements""",This course explores various art movements of ...,John Adams,1,A,T TH,1:00 PM,3,18,...,1,0,Ethan Patel,3.2,Psychology,3,male,12/05/2003,ethan.patel@college.edu,1
2,1,"""Exploring Contemporary Art Movements""",This course explores various art movements of ...,John Adams,1,A,T TH,1:00 PM,3,18,...,1,0,Ethan Patel,3.2,Psychology,3,male,12/05/2003,ethan.patel@college.edu,1
3,2,"""Introduction to Microeconomics: Principles an...",This course introduces the principles of micro...,Cynthia Turner,0,C,T W TH,1:00 PM,4,25,...,2,1,Mia Johnson,2.8,Computer Science,3,female,02/14/2002,mia.johnson@college.edu,2
4,2,"""Introduction to Microeconomics: Principles an...",This course introduces the principles of micro...,Cynthia Turner,0,C,T W TH,1:00 PM,4,25,...,2,1,Mia Johnson,2.8,Computer Science,3,female,02/14/2002,mia.johnson@college.edu,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2,"""Introduction to Microeconomics: Principles an...",This course introduces the principles of micro...,Cynthia Turner,0,C,T W TH,1:00 PM,4,25,...,2,28,Grace Carter,2.4,International Relations,4,female,01/07/2000,grace.carter@college.edu,2
103,2,"""Introduction to Microeconomics: Principles an...",This course introduces the principles of micro...,Cynthia Turner,0,C,T W TH,1:00 PM,4,25,...,2,28,Grace Carter,2.4,International Relations,4,female,01/07/2000,grace.carter@college.edu,2
104,7,"""Introduction to Digital Marketing: Strategies...",This course provides an overview of digital ma...,Mark Bennett,1,A,M W,3:00 PM,3,14,...,7,29,Elijah Bennett,3.9,Psychology,1,male,06/13/2004,elijah.bennett@college.edu,7
105,7,"""Introduction to Digital Marketing: Strategies...",This course provides an overview of digital ma...,Mark Bennett,1,A,M W,3:00 PM,3,14,...,7,29,Elijah Bennett,3.9,Psychology,1,male,06/13/2004,elijah.bennett@college.edu,7
106,7,"""Introduction to Digital Marketing: Strategies...",This course provides an overview of digital ma...,Mark Bennett,1,A,M W,3:00 PM,3,14,...,7,29,Elijah Bennett,3.9,Psychology,1,male,06/13/2004,elijah.bennett@college.edu,7

In [17]:
query = pd.read_sql("SELECT student_id, SUM(assignments.weight * grades.grade) AS final_grade FROM assignments JOIN grades ON assignments.assignment_id = grades.assignment_id GROUP BY student_id", con=connection)
query

    student_id  final_grade
0            0        83.00
1            1        79.10
2            2        71.50
3            3        86.50
4            4        80.00
5            5        90.55
6            6        91.50
7            7        95.00
8            8        72.50
9            9        90.60
10          10        81.75
11          11        84.20
12          12        83.35
13          13        87.50
14          14        89.50
15          15        70.50
16          16        84.25
17          17        68.75
18          18        82.40
19          19        80.10
20          20        85.50
21          21        83.65
22          22        84.50
23          23        83.50
24          24        79.45
25          25        86.75
26          26        77.30
27          27        88.50
28          28        78.25
29          29        88.50

In [329]:
stud_grade = pd.merge(students, query[['student_id','final_grade']])
full_df = pd.merge(stud_grade, courses[['course_id','course_name','instructor','grade_avg','day','time','credit_hrs']])
full_df

,student_id,name,gpa,major,year,gender,birthday,email,course_id,final_grade,course_name,instructor,grade_avg,day,time,credit_hrs
0,0,Ethan Patel,3.2,Psychology,3,male,12/05/2003,ethan.patel@college.edu,1,83.00,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
1,5,Sophia Rodriguez,3.9,Communication Studies,5,female,09/22/2000,sophia.rodriguez@college.edu,1,90.55,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
2,12,Gabriel Robinson,3.1,Graphic Design,1,female,07/02/2005,gabriel.robinson@college.edu,1,83.35,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
3,17,Harper Garcia,2.4,Finance,5,female,02/23/2000,harper.garcia@college.edu,1,68.75,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
4,22,Lily Mitchell,2.2,Music Performance,4,female,09/29/2000,lily.mitchell@college.edu,1,84.50,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
5,23,Samuel Hernandez,2.7,Journalism,1,male,12/09/2004,samuel.hernandez@college.edu,1,83.50,"""Exploring Contemporary Art Movements""",John Adams,A,T TH,1:00 PM,3
6,1,Mia Johnson,2.8,Computer Science,3,female,02/14/2002,mia.johnson@college.edu,2,79.10,"""Introduction to Microeconomics: Principles an...",Cynthia Turner,C,T W TH,1:00 PM,4
7,11,Emma Wright,3.8,Sociology,3,female,04/25/2003,emma.wright@college.edu,2,84.20,"""Introduction to Microeconomics: Principles an...",Cynthia Turner,C,T W TH,1:00 PM,4
8,16,Elijah Lewis,3.5,Chemistry,1,male,11/20/2004,elijah.lewis@college.edu,2,84.25,"""Introduction to Microeconomics: Principles an...",Cynthia Turner,C,T W TH,1:00 PM,4
9,21,Harper Robinson,3.1,Psychology,2,male,07/16/2003,harper.robinson@college.edu,2,83.65,"""Introduction to Microeconomics: Principles an...",Cynthia Turner,C,T W TH,1:00 PM,4
10,28,Grace Carter,2.4,International Relations,4,female,01/07/2000,grace.carter@college.edu,2,78.25,"""Introduction to Microeconomics: Principles an...",Cynthia Turner,C,T W TH,1:00 PM,4
11,2,Noah Thompson,2.9,Business Administration,1,male,06/28/2005,noah.thompson@college.edu,3,71.50,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
12,3,Ava Davis,3.7,Nursing,4,female,03/10/2001,ava.davis@college.edu,3,86.50,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
13,4,Oliver Smith,2.5,Biology,2,nonbinary,07/19/2004,oliver.smith@college.edu,3,80.00,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
14,15,Charlotte Adams,2.6,History,4,female,09/17/2001,charlotte.adams@college.edu,3,70.50,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
15,20,Alexander Davis,2.6,Art History,5,female,05/21/2001,alexander.davis@college.edu,3,85.50,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
16,26,Mia Ramirez,3.7,Film Studies,3,female,02/03/2002,mia.ramirez@college.edu,3,77.30,"""Introduction to Psychology: Understanding the...",James Wright,B,M,2:00 PM,2
17,6,Lucas Taylor,3.1,English Literature,3,male,10/08/2003,lucas.taylor@college.edu,7,91.50,"""Introduction to Digital Marketing: Strategies...",Mark Bennett,A,M W,3:00 PM,3
18,14,Logan Lee,3.8,Environmental Science,2,male,06/04/2002,logan.lee@college.edu,7,89.50,"""Introduction to Digital Marketing: Strategies...",Mark Bennett,A,M W,3:00 PM,3
19,29,Elijah Bennett,3.9,Psychology,1,male,06/13/2004,elijah.bennett@college.edu,7,88.50,"""Introduction to Digital Marketing: Strategies...",Mark Bennett,A,M W,3:00 PM,3
20,7,Isabella Wilson,4.0,Mechanical Engineering,3,female,05/11/2002,isabella.wilson@college.edu,6,95.00,"""Introduction to Environmental Studies: Sustai...",Pamela Cooper,B,M TH F,2:00 PM,4
21,8,Liam Nguyen,2.1,Marketing,1,male,11/13/2005,liam.nguyen@college.edu,6,72.50,"""Introduction to Environmental Studies: Sustai...",Pamela Cooper,B,M TH F,2:00 PM,4
22,19,Riley Wright,2.7,Computer Science,1,nonbinary,03/08/2005,riley.wright@college.edu,6,80.10,"""Introduction to Environmental Studies: Sustai...",Pamela Cooper,B,M TH F,2:00 PM,4
23,9,Olivia Campbell,3.8,Economics,1,female,01/16/2004,olivia.campbell@college.edu,5,90.60,"""Fundamentals of Biochemistry and Molecular Bi...",Robert Phillips,C,M T TH F,9:00 AM,5
24,10,Benjamin Martin,2.3,Psychology,4,male,08/09/2001,benjamin.martin@college.edu,5,81.75,"""Fundamentals of Biochemistry and Molecular Bi...",Robert Phillips,C,M T TH F,9:00 AM,5
25,18,Henry Williams,3.3,Mathematics,2,male,10/27/2002,henry.williams@college.edu,5,82.40,"""Fundamentals of Biochemistry and Molecular Bi...",Robert Phillips,C,M T TH F,9:00 AM,5
26,13,Amelia Anderson,3.9,Education,2,female,12/31/2004,amelia.anderson@college.edu,4,87.50,"""Introduction to Political Science: Systems, I...",Nancy Roberts,B,W,10:00 AM,1
27,27,Caleb Phillips,3.6,Business Administration,2,male,11/25/2003,caleb.phillips@college.edu,4,88.50,"""Introduction to Political Science: Systems, I...",Nancy Roberts,B,W,10:00 AM,1
28,24,Emily Scott,2.9,Physics,4,female,04/12/2001,emily.scott@college.edu,0,79.45,"""Introduction to Data Science and Analytics""",Patricia Clark,B,M W F,11:00 AM,4
29,25,Gabriel Stewart,3.2,Architecture,1,male,08/30/2005,gabriel.stewart@college.edu,0,86.75,"""Introduction to Data Science and Analytics""",Patricia Clark,B,M W F,11:00 AM,4

In [243]:
college_students = full_df.to_dict("records")

In [274]:
for i in range(len(students)):
    print(students.iloc[i])

student_id                          0
name                      Ethan Patel
gpa                               3.2
major                      Psychology
year                                3
gender                           male
birthday                   12/05/2003
email         ethan.patel@college.edu
course_id                           1
Name: 0, dtype: object
student_id                          1
name                      Mia Johnson
gpa                               2.8
major                Computer Science
year                                3
gender                         female
birthday                   02/14/2002
email         mia.johnson@college.edu
course_id                           2
Name: 1, dtype: object
student_id                            2
name                      Noah Thompson
gpa                                 2.9
major           Business Administration
year                                  1
gender                             male
birthday                     06/28/2005
email         noah.thompson@college.edu
course_id                             3
Name: 2, dtype: object
student_id                        3
name                      Ava Davis
gpa                             3.7
major                       Nursing
year                              4
gender                       female
birthday                 03/10/2001
email         ava.davis@college.edu
course_id                         3
Name: 3, dtype: object
student_id                           4
name                      Oliver Smith
gpa                                2.5
major                          Biology
year                                 2
gender                       nonbinary
birthday                    07/19/2004
email         oliver.smith@college.edu
course_id                            3
Name: 4, dtype: object
student_id                               5
name                      Sophia Rodriguez
gpa                                    3.9
major                Communication Studies
year                                     5
gender                              female
birthday                        09/22/2000
email         sophia.rodriguez@college.edu
course_id                                1
Name: 5, dtype: object
student_id                           6
name                      Lucas Taylor
gpa                                3.1
major               English Literature
year                                 3
gender                            male
birthday                    10/08/2003
email         lucas.taylor@college.edu
course_id                            7
Name: 6, dtype: object
student_id                              7
name                      Isabella Wilson
gpa                                   4.0
major              Mechanical Engineering
year                                    3
gender                             female
birthday                       05/11/2002
email         isabella.wilson@college.edu
course_id                               6
Name: 7, dtype: object
student_id                          8
name                      Liam Nguyen
gpa                               2.1
major                       Marketing
year                                1
gender                           male
birthday                   11/13/2005
email         liam.nguyen@college.edu
course_id                           6
Name: 8, dtype: object
student_id                              9
name                      Olivia Campbell
gpa                                   3.8
major                           Economics
year                                    1
gender                             female
birthday                       01/16/2004
email         olivia.campbell@college.edu
course_id                               5
Name: 9, dtype: object
student_id                             10
name                      Benjamin Martin
gpa                                   2.3
major                          Psychology
year                                    4
gender                               male
birthday                       08/09/2001
email         benjamin.martin@college.edu
course_id                               5
Name: 10, dtype: object
student_id                         11
name                      Emma Wright
gpa                               3.8
major                       Sociology
year                                3
gender                         female
birthday                   04/25/2003
email         emma.wright@college.edu
course_id                           2
Name: 11, dtype: object
student_id                              12
name                      Gabriel Robinson
gpa                                    3.1
major                       Graphic Design
year                                     1
gender                              female
birthday                        07/02/2005
email         gabriel.robinson@college.edu
course_id                                1
Name: 12, dtype: object
student_id                             13
name                      Amelia Anderson
gpa                                   3.9
major                           Education
year                                    2
gender                             female
birthday                       12/31/2004
email         amelia.anderson@college.edu
course_id                               4
Name: 13, dtype: object
student_id                       14
name                      Logan Lee
gpa                             3.8
major         Environmental Science
year                              2
gender                         male
birthday                 06/04/2002
email         logan.lee@college.edu
course_id                         7
Name: 14, dtype: object
student_id                             15
name                      Charlotte Adams
gpa                                   2.6
major                             History
year                                    4
gender                             female
birthday                       09/17/2001
email         charlotte.adams@college.edu
course_id                               3
Name: 15, dtype: object
student_id                          16
name                      Elijah Lewis
gpa                                3.5
major                        Chemistry
year                                 1
gender                            male
birthday                    11/20/2004
email         elijah.lewis@college.edu
course_id                            2
Name: 16, dtype: object
student_id                           17
name                      Harper Garcia
gpa                                 2.4
major                           Finance
year                                  5
gender                           female
birthday                     02/23/2000
email         harper.garcia@college.edu
course_id                             1
Name: 17, dtype: object
student_id                            18
name                      Henry Williams
gpa                                  3.3
major                        Mathematics
year                                   2
gender                              male
birthday                      10/27/2002
email         henry.williams@college.edu
course_id                              5
Name: 18, dtype: object
student_id                          19
name                      Riley Wright
gpa                                2.7
major                 Computer Science
year                                 1
gender                       nonbinary
birthday                    03/08/2005
email         riley.wright@college.edu
course_id                            6
Name: 19, dtype: object
student_id                             20
name                      Alexander Davis
gpa                                   2.6
major                         Art History
year                                    5
gender                             female
birthday                       05/21/2001
email         alexander.davis@college.edu
course_id                               3
Name: 20, dtype: object
student_id                             21
name                      Harper Robinson
gpa                                   3.1
major                          Psychology
year                                    2
gender                               male
birthday                       07/16/2003
email         harper.robinson@college.edu
course_id                               2
Name: 21, dtype: object
student_id                           22
name                      Lily Mitchell
gpa                                 2.2
major                 Music Performance
year                                  4
gender                           female
birthday                     09/29/2000
email         lily.mitchell@college.edu
course_id                             1
Name: 22, dtype: object
student_id                              23
name                      Samuel Hernandez
gpa                                    2.7
major                           Journalism
year                                     1
gender                                male
birthday                        12/09/2004
email         samuel.hernandez@college.edu
course_id                                1
Name: 23, dtype: object
student_id                         24
name                      Emily Scott
gpa                               2.9
major                         Physics
year                                4
gender                         female
birthday                   04/12/2001
email         emily.scott@college.edu
course_id                           0
Name: 24, dtype: object
student_id                             25
name                      Gabriel Stewart
gpa                                   3.2
major                        Architecture
year                                    1
gender                               male
birthday                       08/30/2005
email         gabriel.stewart@college.edu
course_id                               0
Name: 25, dtype: object
student_id                         26
name                      Mia Ramirez
gpa                               3.7
major                    Film Studies
year                                3
gender                         female
birthday                   02/03/2002
email         mia.ramirez@college.edu
course_id                           3
Name: 26, dtype: object
student_id                            27
name                      Caleb Phillips
gpa                                  3.6
major            Business Administration
year                                   2
gender                              male
birthday                      11/25/2003
email         caleb.phillips@college.edu
course_id                              4
Name: 27, dtype: object
student_id                          28
name                      Grace Carter
gpa                                2.4
major          International Relations
year                                 4
gender                          female
birthday                    01/07/2000
email         grace.carter@college.edu
course_id                            2
Name: 28, dtype: object
student_id                            29
name                      Elijah Bennett
gpa                                  3.9
major                         Psychology
year                                   1
gender                              male
birthday                      06/13/2004
email         elijah.bennett@college.edu
course_id                              7
Name: 29, dtype: object

In [275]:
#for i in range(len(data)):
#    print(data.iloc[i])

In [276]:
#for i in range(len(data)):
#    row = data.iloc[i]
#    graph.run("CREATE (:STUDENT {student_id: " + str(row.student_id) + ", name: '" + row['name'] + "', gpa: " + str(row.gpa) + ", major: '" + row['major'] + "', year: " + str(row.year) + ", gender: '" + row['gender'] + "', birthday: '" + row['birthday'] + "', email: '" + row['email'] + "'})")

In [277]:
for i in range(len(students)):
    row = students.iloc[i]
    graph.run("CREATE (:STUDENT {student_id: " + str(row.student_id) + ", course_id: " + str(row.course_id) + ", name: '" + row['name'] + "', gpa: " + str(row.gpa) + ", major: '" + row['major'] + "', year: " + str(row.year) + ", gender: '" + row['gender'] + "', birthday: '" + row['birthday'] + "', email: '" + row['email'] + "'})")

In [278]:
for i in range(len(courses)):
    row = courses.iloc[i]
    graph.run("CREATE (:COURSE {course_id: '" + str(row.course_id) + "', course_name: '" + row['course_name'] + "', instructor: '" + row['instructor'] + "', grade_avg: '" + str(row.grade_avg) + "', day: '" + row['day'] + "', time: '" + row['time'] + "', credit_hrs: " + str(row.credit_hrs) + "})")

In [279]:
for i in range(len(data)):
    row = data.iloc[i]
    #First step: Create the person nodes, with the properties that won't be used to create relationships.
    print("CREATE (:STUDENT {name:'" + row['name'] + "'})")
    
    #What would creating relationships to companies and schools look like? Let's go to the cypher browser
    print("MATCH (p:STUDENT {course_id:'" + str(row.course_id) +"'}), (c:COURSE {course_id:'" + row['course_name'] + "'}) CREATE (p)-[:WORKS_AT]->(c)")
    
    #Same (similar) deal for schools
    #print("MATCH (p:STUDENT {name:'" + row['name'] +"'}), (s:SCHOOL {name:'" + row['school'] + "'}) CREATE (p)-[:ATTENDED]->(s)")

CREATE (:STUDENT {name:'Ethan Patel'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Sophia Rodriguez'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Gabriel Robinson'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Harper Garcia'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Lily Mitchell'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Samuel Hernandez'})
MATCH (p:STUDENT {course_id:'1'}), (c:COURSE {course_id:'"Exploring Contemporary Art Movements"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Mia Johnson'})
MATCH (p:STUDENT {course_id:'2'}), (c:COURSE {course_id:'"Introduction to Microeconomics: Principles and Applications"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Emma Wright'})
MATCH (p:STUDENT {course_id:'2'}), (c:COURSE {course_id:'"Introduction to Microeconomics: Principles and Applications"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Elijah Lewis'})
MATCH (p:STUDENT {course_id:'2'}), (c:COURSE {course_id:'"Introduction to Microeconomics: Principles and Applications"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Harper Robinson'})
MATCH (p:STUDENT {course_id:'2'}), (c:COURSE {course_id:'"Introduction to Microeconomics: Principles and Applications"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Grace Carter'})
MATCH (p:STUDENT {course_id:'2'}), (c:COURSE {course_id:'"Introduction to Microeconomics: Principles and Applications"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Noah Thompson'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Ava Davis'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Oliver Smith'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Charlotte Adams'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Alexander Davis'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Mia Ramirez'})
MATCH (p:STUDENT {course_id:'3'}), (c:COURSE {course_id:'"Introduction to Psychology: Understanding the Human Mind"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Lucas Taylor'})
MATCH (p:STUDENT {course_id:'7'}), (c:COURSE {course_id:'"Introduction to Digital Marketing: Strategies and Tools"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Logan Lee'})
MATCH (p:STUDENT {course_id:'7'}), (c:COURSE {course_id:'"Introduction to Digital Marketing: Strategies and Tools"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Elijah Bennett'})
MATCH (p:STUDENT {course_id:'7'}), (c:COURSE {course_id:'"Introduction to Digital Marketing: Strategies and Tools"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Isabella Wilson'})
MATCH (p:STUDENT {course_id:'6'}), (c:COURSE {course_id:'"Introduction to Environmental Studies: Sustainability and Conservation"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Liam Nguyen'})
MATCH (p:STUDENT {course_id:'6'}), (c:COURSE {course_id:'"Introduction to Environmental Studies: Sustainability and Conservation"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Riley Wright'})
MATCH (p:STUDENT {course_id:'6'}), (c:COURSE {course_id:'"Introduction to Environmental Studies: Sustainability and Conservation"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Olivia Campbell'})
MATCH (p:STUDENT {course_id:'5'}), (c:COURSE {course_id:'"Fundamentals of Biochemistry and Molecular Biology"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Benjamin Martin'})
MATCH (p:STUDENT {course_id:'5'}), (c:COURSE {course_id:'"Fundamentals of Biochemistry and Molecular Biology"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Henry Williams'})
MATCH (p:STUDENT {course_id:'5'}), (c:COURSE {course_id:'"Fundamentals of Biochemistry and Molecular Biology"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Amelia Anderson'})
MATCH (p:STUDENT {course_id:'4'}), (c:COURSE {course_id:'"Introduction to Political Science: Systems, Institutions, and Governance"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Caleb Phillips'})
MATCH (p:STUDENT {course_id:'4'}), (c:COURSE {course_id:'"Introduction to Political Science: Systems, Institutions, and Governance"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Emily Scott'})
MATCH (p:STUDENT {course_id:'0'}), (c:COURSE {course_id:'"Introduction to Data Science and Analytics"'}) CREATE (p)-[:WORKS_AT]->(c)
CREATE (:STUDENT {name:'Gabriel Stewart'})
MATCH (p:STUDENT {course_id:'0'}), (c:COURSE {course_id:'"Introduction to Data Science and Analytics"'}) CREATE (p)-[:WORKS_AT]->(c)

In [280]:
#for i in range(len(data)):
#    row = data.iloc[i]
#    print("CREATE (:PERSON {name:'" + row['name'] + "'})")

#    print("MATCH (p:PERSON {name:'" + row['name'] +"'}), (c:COURSE {name:'" + row['course_name'] + "'}) CREATE (p)-[:WORKS_AT]->(c)")

#    print("MATCH (p:PERSON {name:'" + row['name'] +"'}), (s:STUDENT {name:'" + row['name'] + "'}) CREATE (p)-[:ATTENDED]->(s)")

In [281]:
#for i in range(len(data)):
#    row = data.iloc[i]
#    graph.run("CREATE (:COURSE {course_id: " + str(row.course_id) + ", final_grade: " + str(row.final_grade) + ", course_name: '" + row['course_name'] + "', instructor: '" + row['instructor'] + "', grade_avg: " + str(row.grade_avg) + ", day: '" + row['day'] + "', time: '" + row['time'] + "', credit_hrs: " + str(row.credit_hrs) + "})")

In [282]:
#query5 = data[['name', 'major', 'year', 'course_name', 'final_grade']]

In [283]:
#for i in range(len(query5)):
#    row = query5.iloc[i]
#    graph.run("CREATE (:PERSON {name:'" + row['name'] + "'})")
#    graph.run("MATCH (p:PERSON {name:'" + row['name'] +"'}), (c:MAJOR {name:'" + row['major'] + "'}) CREATE (p)-[:WORKS_AT]->(c)")
#    graph.run("MATCH (p:PERSON {name:'" + row['name'] +"'}), (s:CLASS {name:'" + row['course_name'] + "'}) CREATE (p)-[:TAKES_CLASS]->(s)")

In [284]:
#query5 = data[['name', 'major', 'year', 'course_name', 'final_grade']]

#for i in range(len(query5)):
#    row = query5.iloc[i]
#    person_name = row['name']
#    major_name = row['major']
#    course_name = row['course_name']

    # Create PERSON node
#    create_person_query = "CREATE (:PERSON {name: '" + person_name + "'})"
#    graph.run(create_person_query)
#    print("Created PERSON node for:", person_name)

    # Create WORKS_AT relationship
#    create_works_at_query = "MATCH (p:PERSON {name: '" + person_name + "'}), (c:MAJOR {name: '" + major_name + "'}) CREATE (p)-[:WORKS_AT]->(c)"
#    graph.run(create_works_at_query)
#    print("Created WORKS_AT relationship for:", person_name)

    # Create TAKES_CLASS relationship
#    create_takes_class_query = "MATCH (p:PERSON {name: '" + person_name + "'}), (s:CLASS {name: '" + course_name + "'}) CREATE (p)-[:TAKES_CLASS]->(s)"
#    graph.run(create_takes_class_query)
#    print("Created TAKES_CLASS relationship for:", person_name)